/* Cat organ! */
body {
  height: 100vh;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-position: left top;
  padding: 32px;
  box-sizing: border-box;

  font-family: 'VT323', monospace;
}
